<div class="blur-text-container">
  <span class="blur-text">Nuestros productos</span>
</div>
<img src="/img/Nothing-phone-1.jpg" alt="telefono">

<section class="productos">
  <ng-container *ngFor="let producto of productos; trackBy: trackById">
    <article class="producto">
      <img [src]="producto.imagen" [alt]="producto.nombre">
      <h3>{{ producto.nombre }}</h3>
      <p>{{ producto.descripcion }}</p>
      <strong>{{ producto.precio }}</strong>
      <br>
      <button (click)="verMas(producto)">Ver más</button>
    </article>
  </ng-container>
</section>


<app-product-detail
  *ngIf="modalVisible"
  [producto]="productoSeleccionado"
  (close)="cerrarModal()">
</app-product-detail>



